/* common css */
body {
    font-family: 'Poppins', sans-serif;
}
.my-btn {
    background: linear-gradient(#21B573, #85cead);
    border-radius: 30px;
    border: none;
    color: #fff;
}
.my-btn:hover {
    transition:  3s;
    background: linear-gradient(#85cead, #21B573)  
}

/* header-area */
.header-area {
    background-color: #f0fff0;
    margin-bottom: 80px;
}
.navbar {
    margin-bottom: 50px;
}
.navbar-brand img {
    width: 200px;
    height: 60px;
}
.banner-content {
    padding: 60px 40px;
}
.banner-content small {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
    padding-bottom: 15px;
    display: inline-block;
}
.banner-content h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;

}
.banner-content .green {
    color: #21B573;
}
.banner-content p {
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
}
.banner-img img {
    width: 100%;
}

/* categories area */
.categories-area {
    text-align: center;
    margin-bottom: 100px;
}
.categories-content {
    background: #F8FFFB;
    border-radius: 10px;
    padding: 40px 10px 20px 10px;
}
.categories-content img {
    width: 66px;
    height: 85px;
}
.categories-content h4 {
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    padding: 20px 10px;
}
.categories-content p{
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
.categories-content.active {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

/* online-courses */
.online-courses {
    margin-bottom: 100px;
}
.online-courses h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
.online-courses .card {
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    border: none;
    
}
.online-courses .card .card-img-top {
    padding: 20px 15px 0px 15px;
}
.online-courses .card h5 {
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    padding: 0;
}
.online-courses .card p {
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}
.card-footer {
    border: none;
    background-color: rgba(0,0,0,0);
}
.date-area img,
.seat-area img {
    width: 24px;
    height: 24px;
}

/* testimonial-area */
.testimonial-area{
    margin-bottom: 100px;
}
.testimonial-area h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: #000000;
    padding: 20px;
    text-align: center;
}
.carousel-content {
    padding: 15px 25px 60px 25px;
}
.carousel-content p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    padding-top: 20px;
}